.emphasis{
    background-color:#898363;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }
  
.playfair-display {
    font-family: 'Playfair Display', serif;
  }
  
.lato {
    font-family: 'Lato', sans-serif;
  }

